header {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(asset/image/file_000000008510722fae3359ff1953c245.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  display: inline-block;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}
div {
  border: 1px solid black;
  padding: 20px;
  padding-right: 40px;
  background-color: rgb(0, 0, 0, 0.5);
}

button {
  width: 100%;
  background-color: green;
  padding: 4px;
}
label {
  margin-bottom: 6px;
  display: fixed;
}
form {
  max-width: 500px;
  width: 100%;
}
form {
  margin: 15px;
}
#comments {
  width: 100%;
  padding-bottom: 1px;
}
#name {
  width: 100%;
  padding: 10px;
}
#email {
  width: 100%;
  padding: 10px;
}
#age {
  width: 100%;
  padding: 10px;
}
#current {
  width: 100%;
  padding: 10px;
}
#select {
  width: 100%;
  padding: 10px;
}
input,
select,
textarea {
  width: 10%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
